<%=include header.html%>

      <div class="jumbotron">
        <h1>NodeJs + mongodb + express</h1>
        <p class="lead">This Projedt by NodeJs + mongodb + express ；</p>
        <div class="tips"></div>
       

        <a class="btn btn-large btn-success" href="/login">去登陆</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>用户信息</h4>
          <p>可视化 基于 datatable </p>

          <h4>session</h4>
          <p>120秒内没有向服务器提交任何新的请求将过期</p>
          
        </div>

        <div class="span6">
          <h4>当前在线人数</h4>
          <p>在线<%=living%>人</p>

          <h4>用户管理</h4>
          <p>新增、更新、删除、查找</p>
        
        </div>
      </div>



<%=include footer.html%>
