<% include header.html %>
    <div class="container-fluid">
        <div class="row-fluid marketing">
        	

            <div class="span6">
                <form action="home" method="post">
                    <fieldset>
                        <legend>请输入</legend>
                    <p>
                        <span>用户名:</span>
                        <br>
                        <input class="user_user" name="user" type="text">
                        <!-- <a class="btn user_verify">验证是否可用</a> -->
                    </p>
                    <p>
                        <span>密码:</span>
                        <br>
                        <input class="user_password" name="password" type="password">
                    </p>
                    <p>
                        <input type="submit" value="登陆" class="btn btn-danger user_submit">
                        <a class="btn btn-success" href="/register">注册</a>
                    </p>

                    </fieldset>
                </form>
                <div class="tips"></div>
            </div>

            <div class='span6'>
                <h5>初始化管理员 ，举例：</h5>
            <pre>
$ cd /f/MongoDb/bin/&&mongo
MongoDB shell version: 2.6.6
connecting to: test
> use hi-blog
switched to db hi-blog
> db.users.insert({name:"admin",password:"123456",type:"1"})
WriteResult({ "nInserted" : 1 })//添加了管理员
> db.apikeys.insert({name:"test",content:"123",type:1})
WriteResult({ "nInserted" : 1 })//添加了操作权限 KEY
>_

            </pre>
            </div>

        </div>
    </div>

<% include footer.html %>

